@model WeatherInfo.Models.Statistics

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Statistics</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StatisticsId)

        <div class="form-group">
            @Html.LabelFor(model => model.TeamOrPlayer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamOrPlayer)
                @Html.ValidationMessageFor(model => model.TeamOrPlayer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wins, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wins)
                @Html.ValidationMessageFor(model => model.Wins)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Losses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Losses)
                @Html.ValidationMessageFor(model => model.Losses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rank, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rank)
                @Html.ValidationMessageFor(model => model.Rank)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
