@model WeatherInfo.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TeamId)

        <div class="form-group">
            @Html.LabelFor(model => model.TeamPoS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamPoS)
                @Html.ValidationMessageFor(model => model.TeamPoS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamNumber)
                @Html.ValidationMessageFor(model => model.TeamNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamName)
                @Html.ValidationMessageFor(model => model.TeamName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamStatus)
                @Html.ValidationMessageFor(model => model.TeamStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.statisticsId, "statisticsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("statisticsId", String.Empty)
                @Html.ValidationMessageFor(model => model.statisticsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerId)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
