@model IEnumerable<WeatherInfo.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Statistics.TeamOrPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamPoS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Statistics.TeamOrPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamPoS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamId })|
            @Html.ActionLink("Statistics", "Details", new { id = item.Statistics.StatisticsId })
        </td>
    </tr>
}

</table>
