@model WeatherInfo.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Statistics.TeamOrPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statistics.TeamOrPlayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerPoS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerPoS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
